<h1>Usuarios traidos de Fake Api</h1>

<div class="paises">

  <div class="pais" *ngFor="let pais of paises">

    <h4>Name: {{pais.name}}</h4>
    <h4>Username: {{ pais.username}}</h4>
    <h4>Email: {{ pais.email}}</h4>
    <h4>Phone: {{ pais.phone}}</h4>
    


  </div>
</div>

<hr>

<h1>Pipes</h1>

  
<p>Precio: {{precio | currency:'EUR':'code': '5.1-1'}}</p>

<p>Numero: {{numero | number: '1.2-2' }}</p>

<p>Fecha: {{fechaActual | date:'dd-LLLL-yyyy HH:mm.ss'}}</p>

<p>Num aleatorio: {{numAleatorio | percent:'1.2-2' }}</p>

<p>{{ estudiante | json }}</p>

<p>{{texto | titlecase}}</p>

<ul>
  <li *ngFor="let animal of animales | slice:minimo:maximo"> {{animal}}</li>
</ul>

<input type="range" min="0" [max]="animales.length" step="1" [(ngModel)]="minimo"> {{minimo}}
<input type="range" min="0" [max]="animales.length" step="1" [(ngModel)]="maximo"> {{maximo}}

<p>Mensaje {{prom | async }}</p>


{{ promPosts | async}}

<ul>
  <li *ngFor="let post of promPosts | async "> {{post.name}}</li>
</ul>
