
.pais {
        border: 1px solid black;
        width: 300px;
        padding: 10px;
        margin: 10px;
        background-color: rgb(49, 137, 209);
        text-align: center;
        border-radius: 10px;
        overflow:hidden;
    }

	
.pais:hover {-webkit-transform:scale(0.3);transform:scale(0.1);}



h1 {
    text-align: center;
    background-color: rgb(117, 207, 223);
}



.paises {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}


	
.pais:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}


